# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
isyVenv/
.env

# Python tooling
.python-version
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# FastAPI
*.log

# Alembic
alembic/versions/__pycache__/

# Node
node_modules/
dist/
build/

# Vite
.vite/

# OS
.DS_Store
Thumbs.db
*.tmp
*.swp

# IDE
.vscode/
.idea/

# uploads
storage/