DATABASE_URL=postgresql+psycopg2://postgres:[DB 비밀번호]@localhost:5432/[DB 이름]
SECRET_KEY=[충분히 긴 랜덤 문자열]
ACCESS_TOKEN_EXPIRE_MINUTES=60
STORAGE_ROOT=storage

NCLOUD_ACCESS_KEY=your-[Access Key ID]
NCLOUD_SECRET_KEY=your-[Secret Key]
NCLOUD_ENDPOINT=https://kr.object.ncloudstorage.com
NCLOUD_BUCKET=[버킷이름]